Flask==0.10.1
Flask-Assets==0.11
Flask-Compress==1.3.0
Flask-Cors==2.1.0
Flask-HTTPAuth==2.7.0
Flask-Reverse-Proxy==0.2.0.0
Flask-SQLAlchemy==2.0
Flask-SSLify==0.1.5
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
plotly==1.8.6
psycopg2==2.6.1
publisher==0.10
pytz==2015.6
requests==2.8.1
shortuuid==0.4.2
six==1.10.0
SQLAlchemy==1.0.8
webassets==0.11.1
Werkzeug==0.10.4
wheel==0.24.0
