<!doctype html>
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:200,400,300,700' rel='stylesheet' type='text/css'>
    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}
    <link href="/static/custom.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="main"></div>
</body>

</footer>
    <script type="text/javascript">
    CONFIG={{CONFIG | tojson | safe}};
    </script>

    <script type="text/javascript">
        ENV = {};
        ENV.mode = "{{mode}}";
    </script>
    <script src="/static/js/bundle.js"></script>
</footer>
</html>
