<html>
<head>
    {% if USE_CONTENT_DELIVERY_NETWORKS %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:200,400,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='open-sans/css/fonts.css') }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body style="background-color: white">
    <table>
        <thead>
            <tr>
                {% for col in cols %}
                <th>{{col}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                {% for cell in row %}
                    <td>{{cell}}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    <table>
</body>
</html>
