<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<title>Dashboards.ly: Make Dashboards Online</title>
<meta name="description" content="Create dashboards online with Dashboards.ly and Plotly charts. Share dashboards with your team and customers with easy, password-proteced links." />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="Dashboards.ly: Make Dashboards Online">
<meta itemprop="description" content="Create and share dashboards online for free. Best-practice dashboards for business intelligence, science, and engineering.">
<meta itemprop="image" content="http://images.plot.ly/excel/dashboards/dashboard.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="http://images.plot.ly/excel/dashboards/dashboards-thumbnail.png">
<meta name="twitter:site" content="@plotlygraphs">
<meta name="twitter:title" content="Dashboards.ly: Make Dashboards Online">
<meta name="twitter:description" content="Create dashboards online with Dashboards.ly and Plotly charts. Share dashboards with your team and customers with easy, password-proteced links.">
<meta name="twitter:creator" content="@plotlygraphs">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="http://images.plot.ly/excel/dashboards/dashboard.png">

<!-- Open Graph data -->
<meta property="og:title" content="Dashboards.ly: Make Dashboards Online" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://dashboards.ly/" />
<meta property="og:image" content="http://images.plot.ly/excel/dashboards/dashboards-thumbnail.png" />
<meta property="og:description" content="Create dashboards online with Dashboards.ly and Plotly charts. Share dashboards with your team and customers with easy, password-proteced links." />
<meta property="og:site_name" content="Dashboards.ly" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:200,400,300,400,500,600,700,800' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/splash.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>

</head>
<body style="background-color: #f2f2f2;">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div id="heading-container">
      <img src="http://i.imgur.com/jCMx2iC.png" style="height: 50px;vertical-align: -50%;">
      <h1>PLOTLY ONLINE DASHBOARDS</h1>
      <div id="link-container">
        <a href="/create" target="_blank">MAKE DASHBOARD</a>
        <a class="typeform-share link" href="https://plotly.typeform.com/to/seG7Vb" data-mode="1" target="_blank">REQUEST DEMO</a>
        <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        <a href="http://help.plot.ly/dashboards.ly/" target="_blank"><i class="fa fa-life-ring fa-2"></i> HELP</a>
      </div>
    </div>

    <div style="height: 100vh;">

        <div id="#video-container">
            <div id="background-curtain"></div>
            <video preload="auto" loop="loop" autoplay>
                <source src="https://s3.amazonaws.com/plotly-downloads/dashboardsly-splash-3.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <div style="text-align: center; padding-top: 30px;">
        <span>
            <a target="_blank" class="muted" href="https://github.com/plotly/dashboards.ly"><i class="fa fa-github-alt"></i> Fork on Github</a>
            -
            <a target="_blank" class="muted" href="http://help.plot.ly/dashboards.ly/">How It Works</a>
            -
            <a target="_blank" class="muted" href="https://dashboards.ly/ua-mUzaU5RwdSdaz5ERTudSZH">Example Dashboard</a>
        </span>
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-39373211-1', 'auto');
        ga('send', 'pageview');
    </script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
