a.muted {
    text-decoration: none;
    color: #AAAAAA;
}

a.muted:hover {
    text-decoration: underline;
}

#floating-cta{
    position: absolute;
    left: calc(50% - 190px);
    width: 80%;
    top: 35%;
    width:80%;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(253,253,253, 0.9);
    width: 350px;
    padding: 30px;
    border-radius: 6px;
    border: thin lightgrey solid;
    -webkit-box-shadow: 10px 10px 35px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 35px -16px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 35px -16px rgba(0,0,0,0.75);
}

#floating-cta h4, #floating-cta a{
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    text-decoration: none
}

#video-container{
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1280px; 
    width: 100%;
}

#heading-container{
    text-align: left;
    position: absolute;
    color: white;
    z-index: 99;
    padding-left: 20px;
    top: 40px;
    width: 100%;
}

#heading-container h1{
    display: inline-block;
}

#link-container{
    float: right;
    margin-right: 40px;
    margin-top: 25px;
}

#link-container a{
    color: white !important;
    margin: 10px;
    white-space: nowrap;
    text-decoration: none;
}

#background-curtain{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0));
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
