body {
    font-family: "Open Sans";
    background: #f2f2f2;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.overlay {
    background: rgba(0,0,0,.5);
    text-align: center;
    padding: 45px 0 66px 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
}

.overlay-text {
   color: rgba(255,255,255,.85);
   font-size: 18px;
   font-weight: 200;
}

[data-tooltip] {
    border-bottom: thin dotted grey;
    cursor: pointer;
}

/*http://stackoverflow.com/a/25813336/4142536*/
[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.0s ease;
    transition-delay: 0.15s;
    padding: 5px;
    color: white;
    border-radius: 1px;
    text-indent: 0px;
    box-shadow: 2px 2px 1px silver;
    font-family: "Open sans",verdana,arial,sans-serif;
    z-index: 1;
    font-size: 12px;
    text-transform: none;
    width: 400px;
    margin-left:1px;
}

[data-tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 0.9;

    /* customizable */
    background: rgb(16, 32, 77);
    margin-top: 30px;
    margin-left: 0px;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
    pointer-events: none;
}

table.thumbnail-table {
    font-size: 10px;
    margin: 0;
}

.thumbnail-table th,
.thumbnail-table td{
  padding: 1px 2px;
  text-align: left;
  border-bottom: 1px solid $light-grey;
  max-width: 35px;
  overflow-x: hidden;
  text-overflow: ellipsis;

}

.thumbnail-table th:first-child,
.thumbnail-table td:first-child {
  padding-left: 0;
}

.thumbnail-table th:last-child,
.thumbnail-table td:last-child {
  padding-right: 0;
}

.thumbnail {
    width: 100%;
}

.item {
    border: thin lightgrey solid;
}

.grab {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.grabbing {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.navbar {
    height: 50px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

.navbar .navbar-brand {
    font-size: 20px;
    padding-left: 2.5%; /* matches half of container padding */
    padding-right: 15px;
    height: 50px;
    line-height: 50px;
}

.navbar li {
    list-style: none;
    display: block;
    position: relative;
    float: left;
}

.navbar li a{
    padding: 15px;
    line-height: 50px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 200;
}

/* dashboards */
.chart-wrapper {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 10px;
}

.chart-wrapper .chart-title {
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 14px;
    font-weight: 200;
}

.chart-wrapper iframe {
    border: none;
    width: 100%;

    height: -moz-calc(100% - 14px);
    height: -webkit-calc(100% - 14px);
    height: -o-calc(100% - 14px);
    height: calc(100% - 14px);
}

.chart-wrapper .chart-notes {
    background: #fbfbfb;
    border-top: 1px solid #e2e2e2;
    color: #808080;
    font-size: 12px;
    padding: 8px 10px 5px;
}

.chart-wrapper .chart-notes a {
    text-decoration: none;
}

/*http://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers*/
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: 200;
    display: inline-block;
    height: 30px;
    margin-bottom: 0px;
    margin-right: 10px;
    font-size: 1.7rem;
}

input[type=text],input[type=password] {
    /*width: 13px;*/
    /*height: 13px;*/
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    font-size: 1.2rem;

    display: inline-block;
    width: 120px;
    height: 30px;
    background-color: inherit;
    border: 0;
    border-bottom: thin darkgrey solid;
    line-height: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

input[type=text]:focus {
    outline: none;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(174, 163, 255, 1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(174, 163, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(174, 163, 255, 1);
}
