body {
    font-family: "Open Sans";
    background: #f2f2f2;
}

.thumbnail {
    width: 100%;
}

.item {
    border: thin lightgrey solid;
}

input[type=text] {
  height:17px;
  border: 0;
  width: calc(100% - 2px);
  margin-left:1px;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

input[type=text]:focus {
    outline: none;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(174, 163, 255, 1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(174, 163, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(174, 163, 255, 1);

}

/* dashboards */
.chart-wrapper {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 10px;
}

.chart-wrapper .chart-title {
    border-bottom: 1px solid #d7d7d7;
    color: #666;
    font-size: 14px;
    font-weight: 200;
}

.chart-wrapper iframe {
    border: none;
    width: 100%;

    height: -moz-calc(100% - 14px);
    height: -webkit-calc(100% - 14px);
    height: -o-calc(100% - 14px);
    height: calc(100% - 14px);
}

.chart-wrapper .chart-notes {
    background: #fbfbfb;
    border-top: 1px solid #e2e2e2;
    color: #808080;
    font-size: 12px;
    padding: 8px 10px 5px;
}

.chart-wrapper .chart-notes a {
    text-decoration: none;
}

/*http://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers*/
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: 200;
}
input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

