<!doctype html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    {% assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
    {% endassets %}
    <link href="/static/custom.css" rel="stylesheet" type="text/css">

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>

</head>
    <body id="main"></body>
    {% block content %}{% endblock %}

</footer>
    <script src="/static/js/bundle.js"></script>
</footer>
</html>
